# --- Python ---
__pycache__/
*.pyc
venv/
.venv/
.env

# --- Data ---
# Tüm CSV'leri engelle ama .dvc uzantılı olanlara izin ver
*.csv
!*.dvc

# --- DVC ---
/data/raw/.gitignore

# --- IDE ---
.vscode/
.idea/
.DS_Store
